body {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    font-size: 30px;
    font-family: 'Encode Sans', sans-serif;
}
.search-bar {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 130px 0;
}
.search-bar input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-bar img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}
nav {
    background-color: #0033cc;
    text-align: center;
    padding: 10px 0px;
}
nav a {
    color: white;
    margin: 0 65px;
    text-decoration: none;
    font-size: 50px;
}
.banner {
    background-image: url('https://s3-alpha-sig.figma.com/img/87ac/c8ef/10144e81144591e08d40950bdf579807?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EglZfXDZJRpgGliNgI4YzwSYK5qaYnac7Mss5MS9PUGHSTkKIxags3lSHsSYB7eo3RX5N7czTNvixLurr9thTfdTjEdKAgJID8b2vSFSq65RpIqSxzWO3O-QVHTtk-xhoIVyvg9fOZMiq1FvDLnqt0MlQaO40AJR1-2qB22u4jQWufdDPaUIWJdvzl0SeK8LnH67LE4otOrY7xNRfHnr~k4l4zq~DpwNhQ950aUfV3gFPqbPnDNHxKX65~Xio9wJMHllQYgslNqmC9BqzgTQn0cF3HffB-rPTgmop3IjU7eTKJkMB1NMCagZvvFjxqi~~~RjGthasCeTRb4CrNFudg__');
    background-size: cover;
    background-position: center;
    height: 550px;
}
.quote {
    text-align: center;
    padding: 50px;
    font-style: italic;
    font-size: 25px;
}